<div class="container position-relative">
  <h1 class="text-center my-4">My bookings (as lodger)</h1>
  <div class="row">
    <% if current_user.bookings_as_lodger.length >= 1 %>
      <% current_user.bookings_as_lodger.each_slice(3) do |bookings| %>
        <div class="row" style="margin-bottom: 5px;">
          <% bookings.each do |booking| %>
            <div class="col-md-4" style="margin-bottom: 5px;">
              <%= render 'bookings/bookingLodger', booking: booking %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h6 class="text-center">No bookings yet, <%= link_to "All products", products_path %></h6>
    <% end %>
  </div>
</div>


<div class="container position-relative">
  <h1 class="text-center my-4">My bookings (as lodger)</h1>
  <div class="row">
    <% if current_user.bookings_as_lodger.length >= 1 %>
      <% current_user.bookings_as_lodger.each_slice(3) do |bookings| %>
        <div class="row" style="margin-bottom: 5px;">
          <% bookings.each do |booking| %>
            <div class="col-md-4" style="margin-bottom: 5px;">
              <%= render 'bookings/bookingLodger', booking: booking %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h6 class="text-center">No bookings yet, <%= link_to "All products", products_path %></h6>
    <% end %>
  </div>
</div>



  <%= link_to root_path, class: "btn btn-outline-secondary rounded-circle position-absolute top-0 start-0" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
</div>
