<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logogo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item active justify-content-start">
            <%= link_to "Home",root_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav me-auto align-items-center">
          <li class="nav-item">
            <%= link_to "All products", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rent a product",new_product_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar position-relative" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, class:"avatar" %>
              <% else %>
             <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar ", alt: "dropdown menu" %>
            <% end %>
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="text-center border-bottom pb-1"><strong><%= current_user.full_name%></strong></p>
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "My products", myProducts_products_path, class: "dropdown-item" %>
              <%= link_to "<i class='fa-solid fa-right-to-bracket'></i>".html_safe + "  Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-danger " %>
            </div>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline btn-ghost" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
