<div class="col">
  <div class="card bg-light">
    <% if product.photos.attached? %>
      <%= cl_image_tag product.photos.first.key, class: "card-img-top object-fit-contain p-2", height: 150 %>
    <% else %>
      <img class="card-img-top" src="https://www.couturierparisien.fr/574-large_default/chemise-homme-blanche-popeline-de-coton-col-francais.jpg" alt="Card image cap" width=10% height=10%>
    <% end %>

    <div class="card-body bg-light pb-0">
        <h5 class="card-title line-clamp-1 product-title"><%= product.title.capitalize %></h5>
        <p class="card-text line-clamp-3 product-description"><%= product.description %></p>
        <p class="product-category"><i class="fa-solid fa-tag"></i> <%= product.category.name %></p>
        <p class="product-price"><small class="text-dark"><i class="fa-solid fa-dollar-sign"></i> <%= product.price %></small></p>
    </div>
    <div class="card-body text-center">
      <%= link_to "View details", product_path(product), class: "btn btn-flat", style: "border: 1px solid #000; padding: 10px 20px; border-radius: 5px;" %>
    </div>
  </div>



</div>
