<div class="container mt-4 px-5 position-relative">
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
  <%= simple_form_for @product do |f| %>
  <%= f.input :title %>
  <%= f.input :price %>
  <%= f.association :category %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Edit my product", class: "btn btn-primary" %>
<% end %>
 <%= link_to product_path(@product), class: "btn btn-outline-secondary rounded-circle position-absolute top-0 start-0" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
   </div>
  </div>

</div>
