<div class="container mt-3">
  <div class="row pb-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://live.staticflickr.com/2184/2243088749_6688158d31_c.jpg)">Our products</div>
  </div>

  <%= form_with url: products_path, method: :get, html: { onchange: "this.requestSubmit()" } do |f| %>
    <%= f.select :category, options_for_select(Category.all.map { |p| [ p.name, p.name ] }, selected: params[:category]) %>
  <% end %>

  <h6>Trier par prix</h6>

  <input type="text" id="max-price-display" value="<%= params[:max_price] %>">

  <%= form_with url: products_path, method: :get do |f| %>
    <%= f.text_field :query, value: params[:query] %>
    <%= f.range_field :max_price, in: 0..1000, value: params[:max_price] %>
    <%= f.button :submit %>
  <% end %>


<script>
  function updatePriceDisplay() {

    document.getElementById('max-price-display').value = document.getElementById('max_price').value;
  }

  document.addEventListener("DOMContentLoaded", function() {
    updatePriceDisplay();
  });

  document.getElementById('max_price').addEventListener("change", function() {
    updatePriceDisplay();
  });
</script>



  <div class="card-deck row row-cols-4 g-4">
    <%= render partial: "product", collection: @products, as: :product, locals: { category: @category } %>
  </div>
</div>
