<div class="container mt-3">
  <div class="row pb-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://live.staticflickr.com/2184/2243088749_6688158d31_c.jpg)">Our products</div>
  </div>

  <h4 class="mb-4 text-center">Trier par prix</h4>

  <div class="py-4">
    <%= form_with url: products_path, method: :get, class: "d-flex align-items-center", html: { onchange: "this.requestSubmit()" } do |f| %>
      <%= f.text_field :query, value: params[:query], class: "form-control mx-1" %>
      <%= f.select :category, options_for_select(Category.all.map { |p| [ p.name, p.name ] }, selected: params[:category]), {}, class: "form-select mx-1" %>
      <div class="input-group shadow-sm w-100 mx-1">
        <label class="input-group-text" for="max-price-display">Maximum Price</label>
        <%= f.number_field :max_price, value: params[:max_price], min: 0, max: 1000, step: 10, placeholder: "Enter max price", class: "form-control" %>
        <span class="input-group-text">$</span>
      </div>
    <% end %>
  </div>

  <div class="card-deck row row-cols-4 g-4">
    <%= render partial: "product", collection: @products, as: :product, locals: { category: @category } %>
  </div>
</div>
