<div class="container d-inline-block mx-5" style="height: 900px" data-controller="booking-form">
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe, products_path, class: 'btn btn-outline-secondary rounded-circle mx-4 mt-2 justify-content-start' %>
  <div class="justify-content-between py-4" style="height: 50%">
  <div class="container">
    <div class="img-container">
        <% if @product.photos.first != nil%>
          <%= cl_image_tag @product.photos.first.key %>
          <div class="right-part">
            <% @product.photos[1..2].each do |img| %>
              <div class="small-img">
                <%= cl_image_tag img.key, class: "img" %>
              </div>
            <% end %>
          </div>
        <%end %>
    </div>

    <div class="card shadow h-auto bg bg-light" style="width: 100%">

      <div class="card-body d-flex flex-column justify-content-between h-auto">
        <div>
          <h2><strong><%= @product.title %></strong></h2>
          <h3 class="my-3"> $ <span data-booking-form-target="price" data-price="<%= @product.price %>"><%= @product.price %></span> / day</h3>
          <h6 class="my-3 overflow-auto" style="height: 100px"><%= @product.description %></h6>



            <div class="d-flex">
               <% if @product.rating.present? %>
                <% (1..5).each do |i| %>
                   <p><i class="<%= i <= @product.rating ? 'fa-solid' : 'fa-regular' %> fa-star"></i></p>
                <% end %>
              <% end %>
            </div>



    <div>
  <% @product.reviews.each do |review| %>
    <div class="d-flex align-items-center mb-3">
      <div class="me-3">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          <% end %>
        </a>
      </div>

      <div class="me-3">
        <div class="d-flex align-items-center">
          <% (1..5).each do |i| %>
            <i class="<%= i <= review.rating ? 'fa-solid' : 'fa-regular' %> fa-star"></i>
          <% end %>
        </div>

        <div>
          <h6 class="mb-0"><%= review.description %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>



        <div class="buttons d-flex justify-content-between">
          <% if @product.user != current_user %>
            <button type="button" class="btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Book
            </button>
          <% end %>
          <div>
            <% if @product.user == current_user %>
              <%= link_to "Edit my product", edit_product_path(@product), class: 'btn btn-outline-primary' %>
              <%= link_to "Delete my product", product_path(@product), class: 'btn btn-outline-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @product.in? current_user.reserved_products %>
    <%= simple_form_for [@product, @review] do |f| %>
      <%= f.input :description  %>
      <%= f.input :rating, collection: 1..5  %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div data-controller="fetch">
          <%= render "bookings/form", product: @product, booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>
