<div class="container" data-controller="booking-form">
  <%= cl_image_tag @product.photo.key %>
  <h1><%= @product.title %></h1>
  <h3> $ <span data-booking-form-target="price" data-price="<%= @product.price %>"><%= @product.price %></span>/ day</h3>
  <h3><%= @product.description %></h3>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Book
  </button>

  <%= link_to "Edit my product", edit_product_path(@product) %>
  <%= link_to "Delete my product", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Go back", products_path %>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div data-controller="fetch">
          <%= render "bookings/form", product: @product, booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
